.counter-wrapper {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.counter {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 70%;
  background-color: #000;
  border-radius: 20px;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  box-shadow: 0 0px 60px 10px rgba(250, 185, 118, 0.5);
}

.counter-text {
  font-size: 200px;
  font-weight: 300;
  color: #fff;
}

.counter-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: #fff;
  border: none;
  width: 100px;
  height: 100px;
  font-size: 50px;
  border-radius: 50%;
  box-shadow: 0px 8px 60px 15px rgba(0, 0, 0, 0.2);
}
.counter-btn:hover {
  cursor: pointer;
}
.counter-btn.left {
  left: -50px;
}
.counter-btn.right {
  right: -50px;
}

.material-icons {
  font-size: 40px;
}

.counter-reset {
  margin-top: 20px;
  background-color: #fff;
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  color: #fff;
  padding: 10px 60px;
  border-radius: 27px;
}

buton:hover,
button:focus,
button:active {
  outline: none;
}
